In [113]:
# Importando a biblioteca Pandas
import pandas as pd

In [114]:
# Instanciando um dataframe com o médoto read_csv
# Como os dados do arquivo .csv estão separados por ;, especificamos o separador
# Devido ao fato de o separador de decimais ser uma vírgula e a linguagem esperar um ponto, especificamos o separador

df = pd.read_csv('https://raw.githubusercontent.com/igorvroberto/data-science/master/01-pandas/assets/data_asset/distribuicao_epi.csv', sep=';', decimal=',')

#### DataFrame é uma estrutura bidimensional de dados, como uma planilha.
#### Na sequência abaixo, exploraremos os dados do DataFrame instanciado na célula anterior.

In [115]:
# Verificando as cinco primeiras linhas do dataframe
df.head()

,Material,"Dt,Saída",Nº Pedido,Requisitante / Destino,Unidade,Quantidade,Status
0,Álcool,2020-03-19,308748,Acre,Litro,9.6,Entregue
1,Álcool,2020-03-19,308748,Acre,Litro,42.0,Entregue
2,Álcool,2020-03-19,308499,Acre,Litro,12.0,Entregue
3,Álcool,2020-03-19,308500,Acre,Litro,12.0,Entregue
4,Álcool,2020-03-25,309483,Acre,Litro,48.0,Entregue

In [116]:
# Verificando as cinco últimas linhas do dataframe
df.tail()

,Material,"Dt,Saída",Nº Pedido,Requisitante / Destino,Unidade,Quantidade,Status
5244,Máscara N95,2020-07-21,323157,Rio de Janeiro,Unidade,1000.0,Entregue
5245,Óculos e Protetor Facial,2020-07-16,322487,Outros Órgãos Federais,Unidade,30.0,Entregue
5246,Óculos e Protetor Facial,2020-07-21,323108,Acre,Unidade,2000.0,Entregue
5247,Óculos e Protetor Facial,2020-07-21,323114,Amapá,Unidade,1590.0,Entregue
5248,Óculos e Protetor Facial,2020-07-15,322416,Outros Órgãos Federais,Unidade,80.0,Entregue

In [191]:
# Verificando as 10 pimeiras linhas do dataframe
df.head(10)

  Material       Saída  Nº Pedido Destino Unidade  Quantidade    Status
0   Álcool  2020-03-19     308748    Acre   Litro         9.6  Entregue
1   Álcool  2020-03-19     308748    Acre   Litro        42.0  Entregue
2   Álcool  2020-03-19     308499    Acre   Litro        12.0  Entregue
3   Álcool  2020-03-19     308500    Acre   Litro        12.0  Entregue
4   Álcool  2020-03-25     309483    Acre   Litro        48.0  Entregue
5   Álcool  2020-03-28     309979    Acre   Litro        19.2  Entregue
6   Álcool  2020-03-28     309979    Acre   Litro        18.0  Entregue
7   Álcool  2020-03-31     310553    Acre   Litro       132.0  Entregue
8   Álcool  2020-04-10     311433    Acre   Litro        12.6  Entregue
9   Álcool  2020-04-15     311873    Acre   Litro         5.0  Entregue

In [109]:
# Selecionar as seis primeiras linhas
df.loc[0:5]

,Material,"Dt,Saída",Nº Pedido,Requisitante / Destino,Unidade,Quantidade,Status
0,Álcool,2020-03-19,308748,Acre,Litro,9.6,Entregue
1,Álcool,2020-03-19,308748,Acre,Litro,42.0,Entregue
2,Álcool,2020-03-19,308499,Acre,Litro,12.0,Entregue
3,Álcool,2020-03-19,308500,Acre,Litro,12.0,Entregue
4,Álcool,2020-03-25,309483,Acre,Litro,48.0,Entregue
5,Álcool,2020-03-28,309979,Acre,Litro,19.2,Entregue

In [13]:
# Exibindo o tamanho do dataframe. O primeiro valor é o número de linhas; o segundo, o de colunas
df.shape

(5249, 7)

In [111]:
# Exibindo os nomes das colunas do dataframe
df.columns

Index(['Material', 'Dt,Saída', 'Nº Pedido', 'Requisitante / Destino',
       'Unidade', 'Quantidade', 'Status'],
      dtype='object')

In [112]:
# Exibindo os nomes das colunas do dataframe em lista
df.columns.to_list()

['Material',
 'Dt,Saída',
 'Nº Pedido',
 'Requisitante / Destino',
 'Unidade',
 'Quantidade',
 'Status']

In [117]:
# Renomeando as colunas 'Dt,Saída' e 'Requisitante / Destino'
df.rename(columns={'Dt,Saída':'Saída', 'Requisitante / Destino':'Destino'}, inplace=True)

In [121]:
# Verificando as alterações nos nomes das colunas
df.columns

Index(['Material', 'Saída', 'Nº Pedido', 'Destino', 'Unidade', 'Quantidade',
       'Status'],
      dtype='object')

In [190]:
# Exibindo apenas colunas do tipo 'object'
df.select_dtypes(include=['object'])

,Material,Saída,Destino,Unidade,Status
0,Álcool,2020-03-19,Acre,Litro,Entregue
1,Álcool,2020-03-19,Acre,Litro,Entregue
2,Álcool,2020-03-19,Acre,Litro,Entregue
3,Álcool,2020-03-19,Acre,Litro,Entregue
4,Álcool,2020-03-25,Acre,Litro,Entregue
...,...,...,...,...,...
5244,Máscara N95,2020-07-21,Rio de Janeiro,Unidade,Entregue
5245,Óculos e Protetor Facial,2020-07-16,Outros Órgãos Federais,Unidade,Entregue
5246,Óculos e Protetor Facial,2020-07-21,Acre,Unidade,Entregue
5247,Óculos e Protetor Facial,2020-07-21,Amapá,Unidade,Entregue
5248,Óculos e Protetor Facial,2020-07-15,Outros Órgãos Federais,Unidade,Entregue

In [108]:
# Selecionando uma coluna específica (no caso, "Unidade")
df['Unidade']

0         Litro
1         Litro
2         Litro
3         Litro
4         Litro
         ...
5244    Unidade
5245    Unidade
5246    Unidade
5247    Unidade
5248    Unidade
Name: Unidade, Length: 5249, dtype: object

In [123]:
# Selecionando duas colunas ("Unidade" e "Quantidade")
df[['Unidade', 'Quantidade']]

      Unidade  Quantidade
0       Litro         9.6
1       Litro        42.0
2       Litro        12.0
3       Litro        12.0
4       Litro        48.0
...       ...         ...
5244  Unidade      1000.0
5245  Unidade        30.0
5246  Unidade      2000.0
5247  Unidade      1590.0
5248  Unidade        80.0

[5249 rows x 2 columns]

In [124]:
# Verificando valores únicos da coluna "Material"
df['Material'].unique()

array(['Álcool', 'Avental', 'Luva', 'Máscara Cicúrgica', 'Máscara N95',
       'Óculos e Protetor Facial', 'Sapatilha e Touca', 'Teste Rápido'],
      dtype=object)

In [129]:
# Confirmando a quantidade de valores únicos da coluna "Material"
df['Material'].nunique()

8

In [160]:
# Filtrando o dataframe pelo estado do Acre
df.loc[(df['Destino'] == 'Acre')]

,Material,Saída,Nº Pedido,Destino,Unidade,Quantidade,Status
0,Álcool,2020-03-19,308748,Acre,Litro,9.6,Entregue
1,Álcool,2020-03-19,308748,Acre,Litro,42.0,Entregue
2,Álcool,2020-03-19,308499,Acre,Litro,12.0,Entregue
3,Álcool,2020-03-19,308500,Acre,Litro,12.0,Entregue
4,Álcool,2020-03-25,309483,Acre,Litro,48.0,Entregue
...,...,...,...,...,...,...,...
5087,Óculos e Protetor Facial,2020-07-21,323099,Acre,Unidade,20.0,Entregue
5154,Óculos e Protetor Facial,2020-07-21,323099,Acre,Unidade,400.0,Entregue
5167,Máscara N95,2020-07-21,323108,Acre,Unidade,200.0,Entregue
5239,Máscara N95,2020-07-21,323099,Acre,Unidade,100.0,Entregue
5246,Óculos e Protetor Facial,2020-07-21,323108,Acre,Unidade,2000.0,Entregue

In [161]:
# Contar o número de aparições de uma busca
df.loc[(df['Destino'] == 'Acre')].count()

Material      154
Saída         154
Nº Pedido     154
Destino       154
Unidade       154
Quantidade    154
Status        154
dtype: int64

In [164]:
# Filtrar o dataframe pelo estado do Acre e quantidade maior ou igual a 10
df.loc[(df['Destino'] == 'Acre') & (df['Quantidade'] >= 10)]

,Material,Saída,Nº Pedido,Destino,Unidade,Quantidade,Status
1,Álcool,2020-03-19,308748,Acre,Litro,42.0,Entregue
2,Álcool,2020-03-19,308499,Acre,Litro,12.0,Entregue
3,Álcool,2020-03-19,308500,Acre,Litro,12.0,Entregue
4,Álcool,2020-03-25,309483,Acre,Litro,48.0,Entregue
5,Álcool,2020-03-28,309979,Acre,Litro,19.2,Entregue
...,...,...,...,...,...,...,...
5087,Óculos e Protetor Facial,2020-07-21,323099,Acre,Unidade,20.0,Entregue
5154,Óculos e Protetor Facial,2020-07-21,323099,Acre,Unidade,400.0,Entregue
5167,Máscara N95,2020-07-21,323108,Acre,Unidade,200.0,Entregue
5239,Máscara N95,2020-07-21,323099,Acre,Unidade,100.0,Entregue
5246,Óculos e Protetor Facial,2020-07-21,323108,Acre,Unidade,2000.0,Entregue

In [175]:
df.groupby('Quantidade').sum()

            Nº Pedido
Quantidade
0.5           2494593
1.0            622696
1.5            310010
2.0            627135
3.0            311895
...               ...
2570000.0      310616
2622600.0      320581
2636800.0      321432
2792000.0      316504
3913800.0      323192

[1531 rows x 1 columns]

In [184]:
# Agrupando atributos da coluna destino pela contagem do número de pedidos
df.groupby('Destino')['Nº Pedido'].count()

Destino
Acre                       154
Alagoas                    147
Amapá                      149
Amazonas                   150
Bahia                      153
Ceará                      162
Distrito Federal           132
Espírito Santo             161
Goiás                      153
Maranhão                   168
Mato Grosso                159
Mato Grosso do Sul         161
Minas Gerais               150
Outros Órgãos Federais    1072
Paraná                     152
Paraíba                    157
Pará                       165
Pernambuco                 145
Piauí                      156
Rio Grande do Norte        155
Rio Grande do Sul          153
Rio de Janeiro             146
Rondônia                   147
Roraima                    141
Santa Catarina             166
Sergipe                    148
São Paulo                  182
Tocantins                  165
Name: Nº Pedido, dtype: int64