In [52]:
# Importando a biblioteca Pandas
import pandas as pd

In [53]:
# Instanciando um dataframe com o médoto read_csv
# Como os dados do arquivo .csv estão separados por ;, especificamos o separador
# Devido ao fato de o separador de decimais ser uma vírgula e a linguagem esperar um ponto, especificamos o separador
# Como o dataset não possuia nenhum valor nulo, adicionei aleatoriamente alguns no arquivo csv

df = pd.read_csv('https://raw.githubusercontent.com/igorvroberto/data-science/master/01-pandas/assets/data_asset/distribuicao_epi.csv', sep=';', decimal=',')

#### DataFrame é uma estrutura bidimensional de dados, como uma planilha.
#### Na sequência abaixo, exploraremos os dados do DataFrame instanciado na célula anterior.

In [54]:
# Verificando as cinco primeiras linhas do dataframe
df.head()

,Material,"Dt,Saída",Nº Pedido,Requisitante / Destino,Unidade,Quantidade,Status
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Álcool,NaN,308748.0,Acre,Litro,42.0,Entregue
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Álcool,19/03/2020,NaN,Acre,Litro,12.0,Entregue
4,Álcool,NaN,309483.0,Acre,Litro,48.0,Entregue

In [55]:
# Verificando as cinco últimas linhas do dataframe
df.tail()

,Material,"Dt,Saída",Nº Pedido,Requisitante / Destino,Unidade,Quantidade,Status
5244,Máscara N95,21/07/2020,323157.0,Rio de Janeiro,Unidade,1000.0,Entregue
5245,Óculos e Protetor Facial,16/07/2020,322487.0,Outros Órgãos Federais,Unidade,30.0,Entregue
5246,Óculos e Protetor Facial,21/07/2020,323108.0,Acre,Unidade,2000.0,Entregue
5247,Óculos e Protetor Facial,21/07/2020,323114.0,Amapá,Unidade,1590.0,Entregue
5248,Óculos e Protetor Facial,15/07/2020,322416.0,Outros Órgãos Federais,Unidade,80.0,Entregue

In [80]:
# Verificando as 15 pimeiras linhas do dataframe
df.head(15)

   Material       Saída    Pedido Destino Unidade  Quantidade    Status
0       NaN         NaN       NaN     NaN     NaN         NaN       NaN
1    Álcool         NaN  308748.0    Acre   Litro        42.0  Entregue
2       NaN         NaN       NaN     NaN     NaN         NaN       NaN
3    Álcool  19/03/2020       NaN    Acre   Litro        12.0  Entregue
4    Álcool         NaN  309483.0    Acre   Litro        48.0  Entregue
5    Álcool  28/03/2020  309979.0    Acre     NaN        19.2  Entregue
6    Álcool  28/03/2020  309979.0    Acre   Litro         NaN  Entregue
7    Álcool  31/03/2020  310553.0    Acre   Litro       132.0       NaN
8    Álcool  10/04/2020  311433.0     NaN   Litro        12.6  Entregue
9    Álcool         NaN  311873.0    Acre   Litro         5.0  Entregue
10   Álcool  15/04/2020  311873.0    Acre   Litro         4.0  Entregue
11   Álcool  15/04/2020  311873.0    Acre   Litro       153.5  Entregue
12   Álcool  23/04/2020  312962.0    Acre   Litro       798.0  Entregue
13   Álcool  30/04/2020  313999.0    Acre   Litro      1068.0  Entregue
14   Álcool  14/05/2020  315513.0    Acre   Litro        96.0  Entregue

In [57]:
# Selecionando as seis primeiras linhas
df.loc[0:5]

,Material,"Dt,Saída",Nº Pedido,Requisitante / Destino,Unidade,Quantidade,Status
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Álcool,NaN,308748.0,Acre,Litro,42.0,Entregue
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Álcool,19/03/2020,NaN,Acre,Litro,12.0,Entregue
4,Álcool,NaN,309483.0,Acre,Litro,48.0,Entregue
5,Álcool,28/03/2020,309979.0,Acre,NaN,19.2,Entregue

In [58]:
# Exibindo o tamanho do dataframe. O primeiro valor é o número de linhas; o segundo, o de colunas
df.shape

(5249, 7)

In [59]:
# Exibindo os nomes das colunas do dataframe
df.columns

Index(['Material', 'Dt,Saída', 'Nº Pedido', 'Requisitante / Destino',
       'Unidade', 'Quantidade', 'Status'],
      dtype='object')

In [60]:
# Exibindo os nomes das colunas do dataframe em lista
df.columns.to_list()

['Material',
 'Dt,Saída',
 'Nº Pedido',
 'Requisitante / Destino',
 'Unidade',
 'Quantidade',
 'Status']

In [67]:
# Renomeando as colunas "Dt,Saída", "Nº Pedido" e "Requisitante / Destino"
df.rename(columns={'Dt,Saída':'Saída', 'Nº Pedido':'Pedido', 'Requisitante / Destino':'Destino'}, inplace=True)

In [68]:
# Verificando as alterações nos nomes das colunas
df.columns

Index(['Material', 'Saída', 'Pedido', 'Destino', 'Unidade', 'Quantidade',
       'Status'],
      dtype='object')

In [69]:
# Exibindo apenas colunas do tipo 'object'
df.select_dtypes(include=['object'])

,Material,Saída,Destino,Unidade,Status
0,NaN,NaN,NaN,NaN,NaN
1,Álcool,NaN,Acre,Litro,Entregue
2,NaN,NaN,NaN,NaN,NaN
3,Álcool,19/03/2020,Acre,Litro,Entregue
4,Álcool,NaN,Acre,Litro,Entregue
...,...,...,...,...,...
5244,Máscara N95,21/07/2020,Rio de Janeiro,Unidade,Entregue
5245,Óculos e Protetor Facial,16/07/2020,Outros Órgãos Federais,Unidade,Entregue
5246,Óculos e Protetor Facial,21/07/2020,Acre,Unidade,Entregue
5247,Óculos e Protetor Facial,21/07/2020,Amapá,Unidade,Entregue
5248,Óculos e Protetor Facial,15/07/2020,Outros Órgãos Federais,Unidade,Entregue

In [71]:
# Selecionando uma coluna específica (no caso, "Unidade")
df['Unidade']

0           NaN
1         Litro
2           NaN
3         Litro
4         Litro
         ...
5244    Unidade
5245    Unidade
5246    Unidade
5247    Unidade
5248    Unidade
Name: Unidade, Length: 5249, dtype: object

In [72]:
# Selecionando duas colunas ("Unidade" e "Quantidade")
df[['Unidade', 'Quantidade']]

      Unidade  Quantidade
0         NaN         NaN
1       Litro        42.0
2         NaN         NaN
3       Litro        12.0
4       Litro        48.0
...       ...         ...
5244  Unidade      1000.0
5245  Unidade        30.0
5246  Unidade      2000.0
5247  Unidade      1590.0
5248  Unidade        80.0

[5249 rows x 2 columns]

In [73]:
# Verificando valores únicos da coluna "Material"
df['Material'].unique()

array([nan, 'Álcool', 'Avental', 'Luva', 'Máscara Cicúrgica',
       'Máscara N95', 'Óculos e Protetor Facial', 'Sapatilha e Touca',
       'Teste Rápido'], dtype=object)

In [74]:
# Confirmando a quantidade de valores únicos da coluna "Material"
df['Material'].nunique()

8

In [75]:
# Filtrando o dataframe pelo estado do Acre
df.loc[(df['Destino'] == 'Acre')]

,Material,Saída,Pedido,Destino,Unidade,Quantidade,Status
1,Álcool,NaN,308748.0,Acre,Litro,42.0,Entregue
3,Álcool,19/03/2020,NaN,Acre,Litro,12.0,Entregue
4,Álcool,NaN,309483.0,Acre,Litro,48.0,Entregue
5,Álcool,28/03/2020,309979.0,Acre,NaN,19.2,Entregue
6,Álcool,28/03/2020,309979.0,Acre,Litro,NaN,Entregue
...,...,...,...,...,...,...,...
5087,Óculos e Protetor Facial,21/07/2020,323099.0,Acre,Unidade,20.0,Entregue
5154,Óculos e Protetor Facial,21/07/2020,323099.0,Acre,Unidade,400.0,Entregue
5167,Máscara N95,21/07/2020,323108.0,Acre,Unidade,200.0,Entregue
5239,Máscara N95,21/07/2020,323099.0,Acre,Unidade,100.0,Entregue
5246,Óculos e Protetor Facial,21/07/2020,323108.0,Acre,Unidade,2000.0,Entregue

In [76]:
# Contar o número de aparições de uma busca
df.loc[(df['Destino'] == 'Acre')].count()

Material      151
Saída         148
Pedido        150
Destino       151
Unidade       150
Quantidade    150
Status        150
dtype: int64

In [77]:
# Filtrar o dataframe pelo estado do Acre e quantidade maior ou igual a 10
df.loc[(df['Destino'] == 'Acre') & (df['Quantidade'] >= 10)]

,Material,Saída,Pedido,Destino,Unidade,Quantidade,Status
1,Álcool,NaN,308748.0,Acre,Litro,42.0,Entregue
3,Álcool,19/03/2020,NaN,Acre,Litro,12.0,Entregue
4,Álcool,NaN,309483.0,Acre,Litro,48.0,Entregue
5,Álcool,28/03/2020,309979.0,Acre,NaN,19.2,Entregue
7,Álcool,31/03/2020,310553.0,Acre,Litro,132.0,NaN
...,...,...,...,...,...,...,...
5087,Óculos e Protetor Facial,21/07/2020,323099.0,Acre,Unidade,20.0,Entregue
5154,Óculos e Protetor Facial,21/07/2020,323099.0,Acre,Unidade,400.0,Entregue
5167,Máscara N95,21/07/2020,323108.0,Acre,Unidade,200.0,Entregue
5239,Máscara N95,21/07/2020,323099.0,Acre,Unidade,100.0,Entregue
5246,Óculos e Protetor Facial,21/07/2020,323108.0,Acre,Unidade,2000.0,Entregue

In [79]:
# Agrupando atributos da coluna destino pela contagem do número de pedidos
df.groupby('Destino')['Pedido'].count()

Destino
Acre                       150
Alagoas                    147
Amapá                      149
Amazonas                   150
Bahia                      153
Ceará                      162
Distrito Federal           132
Espírito Santo             161
Goiás                      153
Maranhão                   168
Mato Grosso                159
Mato Grosso do Sul         161
Minas Gerais               150
Outros Órgãos Federais    1072
Paraná                     152
Paraíba                    157
Pará                       165
Pernambuco                 145
Piauí                      156
Rio Grande do Norte        155
Rio Grande do Sul          153
Rio de Janeiro             146
Rondônia                   147
Roraima                    141
Santa Catarina             166
Sergipe                    148
São Paulo                  182
Tocantins                  165
Name: Pedido, dtype: int64